.main-body
  .main-header
    .left-box
      %p.group-name
        = @group.name
      %p.member-names
        member: 
        - @group.users.each do |user|
          = user.name
    =link_to edit_group_path(@group), class: "edit__btn" do
      Edit
  .chat-main
    = render @messages
  .footer
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'