.side-body
  .side-header
    .name-box
      .user-name
        = current_user.name
      .icons
        =link_to new_group_path do
          = icon('fas', 'edit', class: "icons__btn")
        =link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: "icons__btn")
  .groups
    - current_user.groups.each do |group|
      .side-message
        = link_to group_messages_path(group) do
          .side-group
            = group.name
          .side-message-box
            = group.show_last_message